# Loops in Python

## Lists

In [18]:
deforestation_rates = [150, 145, 140, 135, 130]
deforestation_years = [2010, 2011, 2012, 2013, 2014]

In [19]:

for rate in deforestation_rates:
   print(f"rate = {rate}")

rate = 150
rate = 145
rate = 140
rate = 135
rate = 130

In [20]:
for i in range(len(deforestation_rates)):
    rate = deforestation_rates[i]
    year = deforestation_years[i]
    print(f"i = {i} - Yearly deforestation rate in {year} is: {rate}k hectares")

i = 0 - Yearly deforestation rate in 2010 is: 150k hectares
i = 1 - Yearly deforestation rate in 2011 is: 145k hectares
i = 2 - Yearly deforestation rate in 2012 is: 140k hectares
i = 3 - Yearly deforestation rate in 2013 is: 135k hectares
i = 4 - Yearly deforestation rate in 2014 is: 130k hectares

In [21]:
for i, rate in enumerate(deforestation_rates):
    year = deforestation_years[i]
    print(f"i = {i} - Yearly deforestation rate in {year} is: {rate}k hectares")

i = 0 - Yearly deforestation rate in 2010 is: 150k hectares
i = 1 - Yearly deforestation rate in 2011 is: 145k hectares
i = 2 - Yearly deforestation rate in 2012 is: 140k hectares
i = 3 - Yearly deforestation rate in 2013 is: 135k hectares
i = 4 - Yearly deforestation rate in 2014 is: 130k hectares

## Dictionaries

### Basic

In [22]:
marine_species_count = {
    'Dolphins': 12,
    'Whales': 3,
    'Sea Turtles': 7
}

for species in marine_species_count:
    print(f"{species}: {marine_species_count[species]} sightings")

Dolphins: 12 sightings
Whales: 3 sightings
Sea Turtles: 7 sightings

In [23]:
marine_species_count = {
    'Dolphins': 12,
    'Whales': 3,
    'Sea Turtles': 7
}

for species, count in marine_species_count.items():
    print(f"{species}: {count} sightings")

Dolphins: 12 sightings
Whales: 3 sightings
Sea Turtles: 7 sightings

### Conditional processing in dictionary loop

In [24]:
deforestation_data = {
    'Amazon': 120,
    'Congo Basin': 80,
    'Southeast Asia': 95,
    'Eastern Australia': 40
}
critical_threshold = 90

for region, area in deforestation_data.items():
    if area > critical_threshold:
        print(f"Critical deforestation in {region}: {area} square kilometres")

Critical deforestation in Amazon: 120 square kilometres
Critical deforestation in Southeast Asia: 95 square kilometres

In [25]:
total_deforestation = 0
for area in deforestation_data.values():
    total_deforestation += area

print(f"Total deforestation area: {total_deforestation} square kilometres")

Total deforestation area: 335 square kilometres

# Nested loops

In [26]:
ocean_temperatures = {
    'Pacific': [25, 25.3, 25.6, 25.2, 25.5, 25.6],
    'Atlantic': [23.4, 23.8, 23.7, 29.9, 24.0, 29.1],
    'Indian': [26.5, 26.7, 27.0, -29, -55, -99, -99]
}

In [27]:
#Outer loop of oceans
for ocean, temperatures in ocean_temperatures.items():
        
        print(f"Ocean: {ocean}: sum of all the temperatures in this list: {temperatures}")

Ocean: Pacific: sum of all the temperatures in this list: [25, 25.3, 25.6, 25.2, 25.5, 25.6]
Ocean: Atlantic: sum of all the temperatures in this list: [23.4, 23.8, 23.7, 29.9, 24.0, 29.1]
Ocean: Indian: sum of all the temperatures in this list: [26.5, 26.7, 27.0, -29, -55, -99, -99]

In [28]:
#Outer loop of oceans
for ocean, temperatures in ocean_temperatures.items():
    sum_temperatures = 0 # We start with a sum of 0 for each ocean. 

    #Inner loop of temperatures in each ocean
    for temperature in temperatures:
        sum_temperatures += temperature #sum all of the temperatures in a list together

    print(f"Ocean: {ocean}: Sum = {sum_temperatures}")

Ocean: Pacific: Sum = 152.20000000000002
Ocean: Atlantic: Sum = 153.9
Ocean: Indian: Sum = -201.8

In [29]:
#Outer loop of oceans
for ocean, temperatures in ocean_temperatures.items():
    sum_temperatures = 0 # We start with a sum of 0 for each ocean. 
    avg_temperatures  = 0 # We start with an average of 0 for each ocean.

    #Inner loop of temperatures in each ocean
    for temperature in temperatures:
        sum_temperatures += temperature #sum all of the temperatures in a list together
   
    print(f"for {ocean} there are {len(temperatures)} measurements and the sum is {sum_temperatures} ") 

    average_temp = sum_temperatures/len(temperatures) # calculate the average
    print(f"Ocean: {ocean}: avg = {average_temp}")

for Pacific there are 6 measurements and the sum is 152.20000000000002
Ocean: Pacific: avg = 25.36666666666667
for Atlantic there are 6 measurements and the sum is 153.9
Ocean: Atlantic: avg = 25.650000000000002
for Indian there are 7 measurements and the sum is -201.8
Ocean: Indian: avg = -28.82857142857143

## Loop controls

In [30]:
ocean_temperatures = {
    'Pacific': [25, 25.3, 25.6, 25.2, 25.5, 25.6],
    'Atlantic': [23.4, 23.8, 23.7, 29.9, 24.0, 29.1],# A value greater than 29 is an outlier, so we will remove it.
    'Indian': [26.5, 26.7, 27.0, -29, -55, -99, -99] # Once it goes below 0°C, the values are not useful
}

In [31]:
for ocean, temperatures in ocean_temperatures.items():
    sum_temperatures = 0
    count_temperatures = 0

    # For each ocean, loop through the temperatures lists
    for temp in temperatures:
        # The ocean temperature is too low, so the sensor is malfunctioning.
        if temp < 0: # The ocean temperature is too low, the sensor is malfunctioning. 
            print(f"{ocean} ocean sensor malfunction. Value {temp} onward ignored.") 
            break #stop using measurements from the sensor

        # Imagine we want to disregard temperatures above 27 degrees as outliers
        if temp > 29:
            print(f"Disregarding temperature: {temp} as an outlier for {ocean}.")
            continue  # Skip this temperature measurement

        sum_temperatures += temp
        count_temperatures += 1

    # Calculate the average temperature.
    average_temp = sum_temperatures / count_temperatures
    print(f"The average temperature for the {ocean} Ocean is {average_temp:.2f}°C.")

The average temperature for the Pacific Ocean is 25.37°C.
Disregarding temperature: 29.9 as an outlier for Atlantic.
Disregarding temperature: 29.1 as an outlier for Atlantic.
The average temperature for the Atlantic Ocean is 23.73°C.
Indian ocean sensor malfunction. Value -29 onward ignored.
The average temperature for the Indian Ocean is 26.73°C.

# List comprehension

In [36]:
[expression for item in input_list]

In [37]:
output_list = [] 

for item in input_list:
    result = expression # item ** 2 for example
    output_list.append(result)

In [38]:
atlantic_temp_C = [23.4, 23.8, 23.7, 29.9, 24.0, 29.1]

atlantic_temp_K = [temp + 273 for temp in atlantic_temp_C]
print(atlantic_temp_K)

[296.4, 296.8, 296.7, 302.9, 297.0, 302.1]

Instead of this:

In [39]:
atlantic_temp_K = []

for temp in atlantic_temp_C:
    temp += 273
    atlantic_temp_K.append(temp)

print(atlantic_temp_K)

[296.4, 296.8, 296.7, 302.9, 297.0, 302.1]

In [43]:
[expression for item in input_list if condition else condition]

In [50]:
Indian_temp_C = [26.5, 26.7, 27.0, -29, -55, -99, -99]

[temp for temp in Indian_temp_C if temp > 0]

[26.5, 26.7, 27.0]

In [51]:
Indian_temp_C = [26.5, 26.7, 27.0, -29, -55, -99, -99]

[temp for temp in Indian_temp_C if temp > 0 if temp < 29]

[26.5, 26.7, 27.0]

Or we could use an `and` operator to check both conditions.

In [52]:
Indian_temp_C = [26.5, 26.7, 27.0, -29, -55, -99, -99]

[temp for temp in Indian_temp_C if temp > 0 and temp < 29]

[26.5, 26.7, 27.0]

In [53]:
Indian_temp_K = [temp + 273 for temp in Indian_temp_C if temp > 0 and temp < 29]
print(Indian_temp_K)

[299.5, 299.7, 300.0]

# Dictionary comprehension

In [ ]:
{key_expression: value_expression for item in iterator}

In [54]:
numbers = range(1,11)
numbers_and_squares = {x: x**2 for x in numbers}
print(numbers_and_squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Or we could create a copy of the `ocean_temperatures` dictionary with the oceans as the keys, and retrieve the first temperature in `temperatures`.

In [55]:
ocean_temperatures = {
    'Pacific': [25, 25.3, 25.6, 25.2, 25.5, 25.6],
    'Atlantic': [23.4, 23.8, 23.7, 29.9, 24.0, 29.1],  # Exclude > 29
    'Indian': [26.5, 26.7, 27.0, -29, -55, -99, -99]    # Exclude < 0
}

# Using dictionary comprehension
ocean_temp_C = {
    ocean: temps[0] for ocean, temps in ocean_temperatures.items()
}

print(ocean_temp_C)

{'Pacific': 25, 'Atlantic': 23.4, 'Indian': 26.5}